
:root{
   --color-accent: #2196F3;
   --color-primary:#212121;
   --color-secondary:#757575;
   --background-secondary:#2F303A;
   --color-secondary-accent:#FFFFFF;
}
body{
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   letter-spacing: 0.03em;
}
p, h1, h2, h3,  ul, li{
  margin:0;
  padding:0;
}
.conteiner{
  margin: 0 auto;
  
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 3px solid red;  */
  
}
.link{
    text-decoration: none;
}
.list{
    list-style: none;
}
.header{
  display:flex;
  /* flex-direction: row; */
  /* padding-top: 80px; */
  border-bottom: 1px solid #ECECEC;
}
.header-logo{  
  display: block;

font-family: 'Raleway';
padding-top: 24px;
padding-bottom: 25px;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: #000000;
margin-right: 93px;

}
.span-logo{
    color: #2196F3;
}

.header-list{
  display: flex;

}
.nav-li{
  display: flex;
  margin-left: auto;
 align-items: center;
}

.header-list-item{
font-weight: 500;
line-height: 1.14; 
letter-spacing: 0.02em;
color: var(--color-primary);
}

.header-list-item:focus, .header-list-item:hover{
    color: var(--color-accent);
}
.header-li{
   margin-right: 30px;
   padding-top: 32px;
padding-bottom: 32px;
}
.header-li:nth-child(3){
   margin-right: 0;
}
.header-contact-li{
  margin-right: 30px;
}
.header-contact-li:nth-last-child(1){
  margin-right: 0;
}
.nav{
  /* display: inline-block; */
  display: flex;
 align-items: center;
 /* padding: 25px; */
 margin: 0;

}
.header-contact{
  display:flex;
 margin-left: auto;

}
.header-contact-list {
 font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
padding-top: 32px;
padding-bottom: 32px;

color: var(--color-secondary);
}
.header-contac-list:focus, .header-contact-list:hover{
   color: var(--color-accent); 
}
.active-link{
  color: var(--color-accent);
}
.hero{

  font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;


  color: var(--color-secondary-accent) ;
  background-color:var(--background-secondary);
  margin-bottom: 94px;
}
.hero-back{
  padding-top: 200px;
  padding-bottom: 200px;

}
.hero-title{
display: block; 
width: 696px;
margin-left: auto;
margin-right: auto;
padding: 0px;


font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
margin-bottom: 30px;
}
.hero-btn{
    font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: var(--color-secondary-accent);
   background: #188CE8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px; border-color: transparent; 
width: 200px;
height: 50px;
margin-left: auto;
margin-right: auto;
}
/* .feature-cont{
  display: flex;

} */
.feature{
 align-items: center;
 margin-bottom: 94px;
}
.feature-block-item{
flex-basis: calc(( 100% - 30 * 3 )  /4 );
 margin-right: 30px;

}
.feature-block-item:last-child{
   margin-right: 0;
}


.feature-block{
  display: flex;

  /* width:calc(100%/4-30px);  */


}
.feature-title-hidden{
  opacity: 0;  
  font-size: 0
}
.feature-title-item{
     /* width:calc(100%/5-30px);  */
    font-weight: 700;
line-height: 1.14;
text-transform: uppercase;
margin-bottom: 10px;

color: var(--color-primary)
}
.feature-text-item{
 
/* height: 400px; */
line-height: 1.71;
color: var(--color-secondary)
}
.job{
  margin-bottom: 94px;
}
/* .job-h{
  /* flex-direction: ;
  justify-items: center; 
   ne: 2px solid blue;
} */
.job-item{
flex-basis: calc(( 100% - 30px * 2 ) / 3 );
margin-right: 30px;
/* outline: 2px solid red; */
}
.job-item:last-child{
  margin-right: 0;
}
.job-block{
  display: flex;
 }
.job-title{
 /* display:inline-block; */
   font-weight: 700;
font-size: 36px;
line-height: 1.17;
color: var(--color-primary);
margin-bottom: 50px;

  text-align: center;
  /* justify-items: center;
  justify-content: center;
  margin-left:  auto; 
  margin-right: auto; */
}

.team{
    background-color:#F5F4FA ;
      padding-bottom: 94px; 
       padding-top: 94px;
}
.team-list{
display: flex;
}
.team-title{

    text-align: center;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
color: var(--color-primary);
margin-bottom: 50px;
}
.team-item{
  flex-basis: calc((100%-4*30px)/4);
  margin-right: 30px;
  background: #FFFFFF;
  /* outline: 2px solid red; */

/* material shadow v1 */
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

}
.team-item:last-child{

   margin-right:0; 
}
.team-fio{
  font-weight: 500;
font-size: 16px;
line-height: 1.88;
color: var(--color-primary);
 text-align: center;
}
.team-text{
font-size: 16px;
line-height: 1.88;
color: var(--color-secondary);
 text-align: center;
}
.footer{
        background-color:var(--background-secondary);
         padding-bottom: 60px; 
       padding-top: 60px;
}
.footer-logo{
  display:inline-block;
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--color-secondary-accent);
margin-bottom: 28px;
}
.footer-li{
  margin-bottom: 10px;
}
.footer-li:last-child{
  margin-bottom: 0;
}
.footer-adress{
font-style: normal; 
line-height: 1.71;
color: var(--color-secondary-accent);  
}
.footer-contact{
line-height: 1.75;
color: rgba(255, 255, 255, 0.6); 
}

.portfolio{
  margin-top: 94px;
}
.filter{
  display: flex;

  width: 596px;
  height: 54px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 34px;
  padding: 0;

;
}
.portfolio-btn{
display:flex;
margin-left: auto;
margin-right: auto;
justify-content: center;
padding: 0;
}
.menu-btn{
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--color-primary);
background-color: #F5F4FA;
border-radius: 4px;
border-color:transparent;
padding: 6px 22px;
}
.menu-btn:last-child{
  margin-right: 0;
}

.menu-btn:hover,.menu-btn:focus {
color: var(--color-secondary-accent);
background-color:var(--color-accent);
}


.portfolio-block{
  display:flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
}
.portfolio-menu-li{
  margin-right: 8px;
}
.portfolio-menu-li:last-child{
  margin-right: 0;
}
.portfolio-block-li{
  flex-basis:calc((100% - 2 * 30px ) / 3 );
margin-right: 30px;
margin-bottom: 30px;
background: #FFFFFF;
border-bottom: 1px solid #EEEEEE;
/* display:block;
border-bottom: 1px solid red; */
}


.portfolio-block-li:nth-child(3n){
margin-right: 0;
}
.portfolio-block-li:nth-last-child(-n+3){
margin-bottom: 0;
}
.portfolio-item-filter{
font-size: 16px;
line-height: 1.88;
margin-bottom: 20px;
margin-left: 24px;
color: var(--color-secondary);
}
.portfolio-item-project{
 font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--color-primary); 
margin-bottom: 4px;
margin-top: 20px;
margin-left: 24px;
}

